// Colors
$bg-color: #d7d7d7;
$dot-color: #646464;

// Dimensions
$dot-size: 1px;
$dot-space: 30px;

html,
body,
#__next {
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  position: relative;
  background-image: radial-gradient($bg-color $dot-size, transparent $dot-size),
    radial-gradient($bg-color $dot-size, transparent $dot-size);
  background-size: $dot-space $dot-space;
  background-position: $dot-size $dot-space;

  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
}
